@CHARSET "ISO-8859-1";

/* importo una fuente de google para el titulo */
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Dosis:200);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

header{
	width: 100%;
	/* FONDO CON GRADIENTE */
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #feccb1 0%, #f17432 80%, #fb955e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#feccb1), color-stop(80%,#f17432), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #feccb1 0%,#f17432 80%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #feccb1 0%,#f17432 80%,#fb955e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #feccb1 0%,#f17432 80%,#fb955e 100%); /* IE10+ */
	background: linear-gradient(415deg,  #feccb1 0%,#f17432 80%,#fb955e 100%); /* W3C */
	/* borde redondead */
	border: 2px solid;
	border-color: #FF3300;
    border-radius: 25px;
}

aside { 
	float:right; 
	border: 2px solid;
	border-color: #FF3300;
    border-radius: 25px;	
	margin: 10px 0px 10px 0px; /*top right bottom left*/
}

nav { 
	float:left; 
	border: 2px solid;
	border-color: #FF3300;
    border-radius: 25px;	
	margin: 10px 0px 10px 0px;
}

section { 
	float:left;	
	width: 75%;	
}

section > article{
	padding-left: 15px;
	padding-top: 15px;
	margin-left: 15px;
	margin-top: 15px;
	width: 90%;	
}

footer{
	background-color: #000000;
	color: #F2F2F2;
	font-size: 11px;
	font-family: 'Dosis', sans-serif;
	clear:both;
	text-align: right;
}

footer > span{
	padding-left: 150px;
}

h1{
	color: #FF3300;
	font-size: 30px;	
	font-family: 'Francois One', sans-serif;
	/* BORDE DE LA LETRA ROJO*/
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
	padding-left: 20px;
}

h2 {
	color:#0000FF;	
	font-size: 13px;
	font-weight:bold;	
	font-family: 'Roboto Slab', serif;
	padding: 10px;
}

ul {
    list-style-type: circle;
}

li {
	padding-right: 10px;
}


/*sirven param mostrar ejemplos de posiciones fijas*/
.divAlto {
	height: 400px;
}

div.cuadro{
	width: 100%;
	background-color: #00FF00;
	margin-bottom: 50px;
}
span.comun {
	width: 50px;
	height: 50px;
	background-color: #0000FF;
	display: inline-block;
}

span.pos_fixed {
    position: fixed;
    top: 150px;
    left: 200px;
    color: red;
	display: inline-block;
}

span.pos_relativa{
	width: 50px;
	height: 50px;
	position: relative;
	top: 50px;
	background-color: #FF0000;
	display: inline-block;
}

span.flotante{
	width: 100px;
	height: 50px;
	float: right;
	background-color: magenta;
	display: inline-block;
	margin-left:20px;
	margin-bottom:20px;
}

span.flotante-izq{
	width: 100px;
	height: 50px;
	float: left;
	background-color: brown;
	display: inline-block;
	margin-left:20px;
	margin-bottom:20px;
}